<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <%= yield :head %>
    <%= show_meta_tags %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Poller+One&display=swap" rel="stylesheet">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :application, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
  </head>

  <body class="bg-yellow-100">
    <header class="navbar bg-yellow-200 px-4 shadow-md flex justify-between items-center h-28">
    <div> <%= link_to "icetagram", root_path, class: "text-3xl font-poller text-black-600" %> </div>
    <div class="flex flex-col items-end gap-2">
      <% if user_signed_in? %>
        <div class="flex items-center gap-2">
          <p class="text-1xl font-kiwi text-black-600">
          <div class="relative">
            <button id="user-menu-button" class="flex items-center gap-2">
              <iconify-icon icon="line-md:account"></iconify-icon>
              <%= current_user.name  %> さん
              <span>▾</span>
            </button>
            <div id="user-menu" class="hidden absolute right-0 mt-2 w-48 bg-yellow-100 border border-yellow-300 rounded-md shadow-lg">
              <%= link_to "アカウント編集", edit_user_registration_path, class: "font-kiwi block px-4 py-2 hover:bg-yellow-200" %>
              <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "font-kiwi block px-4 py-2 hover:bg-yellow-200" %>
            </div>
        </div>


    

      <% elsif admin_signed_in? %>
        <div class="flex items-center gap-2">
          <p class="text-1xl font-kiwi text-black-600">
            <iconify-icon icon="line-md:account"></iconify-icon>
            管理者 <%= current_admin.email %>
          </p>
        </div>
        <div class="flex items-center gap-2">
          <iconify-icon icon="material-symbols:logout" width="20" height="20"></iconify-icon>
          <%= link_to "管理者ログアウト", destroy_admin_session_path, data: { turbo_method: :delete }, class: "text-black-500 hover:underline font-kiwi" %>
        </div>
    
      <% else %>
        <div class="flex items-center gap-2">  
          <iconify-icon icon="material-symbols:login" width="24" height="24"></iconify-icon>
          <%= link_to "ログイン", new_user_session_path, class: "text-black-500 hover:underline font-kiwi" %>
        </div>
        <div class="flex items-center gap-2">  
          <iconify-icon icon="mdi:account-plus" width="24" height="24 "></iconify-icon>
          <%= link_to "新規登録", new_user_registration_path, class: "text-black-500 hover:underline font-kiwi" %>
        </div>
      <% end %>
    </div>
    </header>
    <% if notice %>
      <p class="bg-green-100 text-green-800 p-2 text-center font-kiwi"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="bg-red-100 text-red-800 p-2 text-center font-kiwi"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
